#======================================
# Directories
#--------------------------------------
build/
dist/
coverage/
node_modules/
tmp/


#======================================
# Extensions
#--------------------------------------
*.css
*.gz
*.local
*.log
*.rar
*.tar
*.zip
package-lock.json
yarn.lock

#======================================
# IDE generated
#--------------------------------------
.idea/
.project
*.iml


#======================================
# OS generated
#--------------------------------------
__MACOSX/
.DS_Store
Thumbs.db


#======================================
# API files
#--------------------------------------
*/apiKey.js
